# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Final compilation results
test/*_test
lyra2
ref/Lyra2-v2.5_PHC/bin
bench-binaries
bench-results

# Report
*.log
*.aux
*.tex
*.log
*.bbl
*.fdb_latexmk
*.fls
*.blg
